
div.error, p.error {
    color : red;
}

div.computing {
    font-weight: bold;
}

span.difficulty_start {
    display: inline-block;
    width : 10em;
    text-align: right;
    padding-right: 1em;
}

span.winner {
    color : green;
}

span.loser {
    color : red;
}

span.eliminated {
    color: grey;
}

rect.winner, circle.winner {
    stroke: none;
    fill: green;
}

rect.loser, circle.loser {
    stroke: none;
    fill: red;
}

rect.eliminated, circle.eliminated {
    stroke: none;
    fill: grey;
}
rect.irrelevant, circle.irrelevant, rect.continuing, circle.continuing, rect.no_assertion, circle.no_assertion {
    stroke: none;
    fill: orange;
}

line.valid, polygon.valid {
    stroke: orange;
    stroke-width: 2;
    fill: none;
}
line.invalid, polygon.invalid {
    stroke: lightgray;
    stroke-width: 2;
    fill: none;
}

text.invalid {
    color: lightgray;
}

text.valid, text.invalid {
    dominant-baseline : auto;
    text-anchor : middle;
}
text {
    font-size: 12px;
    font-family: sans-serif;
}

text.left {
    text-anchor : end;
    dominant-baseline : middle;
}

text.above {
    text-anchor : middle;
}

svg {
    vertical-align: top;
}